// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book'), url('/fonts/GOTHAMBOOK.TTF') format('woff');
}


@font-face {
  font-family: 'Gotham Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book Italic'), url('/fonts/GothamBookItalic.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Light';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Light'), url('/fonts/GothamLight.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Light Italic'), url('/fonts/GothamLightItalic.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Medium'), url('/fonts/GothamMedium.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Medium'), url('/fonts/GothamMedium_1.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Medium'), url('/fonts/GothamMediumItalic.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Bold'), url('/fonts/GothamBold.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Bold'), url('/fonts/Gotham-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Bold Italic'), url('/fonts/GothamBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Black Regular'), url('/fonts/Gotham-Black.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Light Regular'), url('/fonts/Gotham-Light.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Thin Regular'), url('/fonts/Gotham-Thin.woff') format('woff');
}


@font-face {
  font-family: 'Gotham XLight Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham XLight Regular'), url('/fonts/Gotham-XLight.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book Italic'), url('/fonts/Gotham-BookItalic.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Thin Italic'), url('/fonts/Gotham-ThinItalic.woff') format('woff');
}


@font-face {
  font-family: 'Gotham Ultra Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Ultra Italic'), url('/fonts/Gotham-UltraItalic.woff') format('woff');
}


@font-face {
  font-family: 'Gotham XLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham XLight Italic'), url('/fonts/Gotham-XLightItalic.woff') format('woff');
}
// Colors
$blue: #EA3E1D;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$pr_color : #EA3E1D;
$se_clor : #20303F;
$custom_gray:#505050;



